<!DOCTYPE html>
<html lang="en">
    <%- include partials/head.ejs %>

	<body>
    <%- include partials/nav.ejs %>

	<h4>The Polls</h4>

		<div class="container well listPolls">
            <% if (polls.length >0) { %>

            	<% for (var i=0; i< polls.length; i++) { %>
					<p> <a href="/displayPoll/<%- polls[i]._id %>"><%- polls[i].name %></a> </p>
            	<% } %>

            <% } else { %>

			<p>Add some polls man</p>

            <% } %>

		</div>
    <%- include partials/footer.ejs %>
		
		<script type="text/javascript" src="common/ajax-functions.js"></script>

		<script type="text/javascript" src="controllers/userController.client.js"></script>
	</body>

</html>